# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

###### Objectives:
- list of the popular languages that Data Scientists use
- list of commonly used libraries by Data Scientists 
- Table of Data Science tools
- Examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

Data Science Tools

|Data Science tools |
|:-----------------:|
| RStudio           |
| Apache  Spark     |
| TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

 ## Author
 Rasifudi Uhone